{
  "parserOptions": {
    "sourceType": "module"
  },
  "ignorePatterns": ["**/*.scss","**/*.css"],
  "rules": {
    "no-debugger": "off",
    "no-whitespace-before-property": "off",
    "newline-per-chained-call": "warn",
    "comma-spacing": "warn",
//    "no-trailing-spaces": "warn",
    "comma-dangle": "warn",
    "prefer-const": "off",
    "@typescript-eslint/no-var-requires": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ]
}
