.content-wrapper {
  margin: 20px;
}

.layout {
  &__header {
    &--mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
    }
  }
  &__title {
    color: #fff;
    margin-bottom: 0;
  }
  &__drawer-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid #d4d4d4;
    }
  }
  &__collapse-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
