body {
  background-color: #f9f9f9 !important;
}

.avatar {
  width: 400px;
  height: 500px;

  &__logo {
    object-fit: cover;
  }
}

.form {
  &__item {
    margin-bottom: 20px;
  }
}

ul {
  margin: 0 !important;
  padding: 0;
}

//.tag {
//  @media screen and (max-width: 768px) {
//    margin-bottom: 5px;
//  }
//}
